<!DOCTYPE html>
<html>
<head>
	<title>ADVAITA</title>
	<link rel="stylesheet" media="screen and (min-width: 720px)"  type="text/css" href="/stylesheets/dashboard.css">
	<link rel="stylesheet" media="screen and (max-width: 720px)" type="text/css" href="/stylesheets/dashboardresponsive.css">
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <script src="https://rawgit.com/akm2/simplex-noise.js/master/simplex-noise.js"></script>
	     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	     <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	      <link rel="stylesheet" href="/stylesheets/navbar.css"> 
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js"></script>
	<script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js"></script>
	<script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131746284-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131746284-1');
</script>
</head>
<body>
	<!--<div id="large-header" class="large-header">-->
	    <% include navbar %>
  <a href="/"><img class="logoheading" src="/images/advaita.png"></a>
  <canvas id='c'></canvas>
<!--</div>-->
	<div class="profile">
		<% if(user.gender=="Male"||user.gender=="male"||user.gender=="M"||user.gender=="m"){ %>
			<img src="/images/girl.jpeg">
		<% } else if(user.gender=="Female"||user.gender=="female"||user.gender=="F"||user.gender=="f") { %>
			<img src="/images/girl.jpeg"> 
		<% } else { %>
			<img src="https://thumbs.dreamstime.com/t/default-male-avatar-profile-picture-icon-grey-man-photo-placeholder-vector-illustration-88414414.jpg">
		<% }%>
		<div class="details">
			<b><%= user.name %></b>
			<!--<b>Name: Sandeep Chutiya</b>-->
		</br></br>
			<b id="cllgname" ><%= user.college %></b>
		</br></br>
			<b>+91-<%= user.phone %></b>
		</br></br>
<!--			<div class="progressdiv"  data-percent="86">-->
<!--  <svg class="progress" width="178" height="178" viewport="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">-->
<!--  <circle r="80" cx="89" cy="89" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0" ></circle>-->
<!--  <circle class="bar" r="80" cx="89" cy="89" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle>-->
<!--</svg></div>-->
<!--		</br>-->
<!--		<b class="progressbar">Events registerd By you</b>-->
		<div id="offer" style="font-size:2vh;     font-weight: 900;
    border: 2px solid darkcyan;
    width: 80%;
    margin-left: 10%;"><i>MAKE YOUR PAYMENT BEFORE</br> 4-02-2019 </br>GET 5% OFF ON ALL TECH EVENTS</i></div>
		<!--MAKE YOUR PAYMENT BEFORE 4-02-2019 AND GET 5% OFF ON ALL TECH EVENTS-->
		<div onclick="query()" id="query1234" style="position:relative;text-align:right;margin-right:10%;cursor:pointer;color:white;font-size:1.5vh">
			Payment Issues?
		</div>
		<div id="query123" style="color:white;font-size:2vh">
		
		<Span class="fa fa-whatsapp"></Span><span>9149341125</span><span>Pranay Agarwal</span></br>
		<Span class="fa fa-whatsapp"></Span><span>9064507905</span><span>Sandeep Patel</span>
		</div>
		
		</div>
		
		
		

	</div>
	
<div class="List" id="list">
		<!--<div id="card">-->
		<!--	<img height="100%"; width="100%" src="hovercop.jpg">-->
		<!--	<div class="back123"></div>-->
		<!--	<div class="descriptiion123"></div>-->
		<!--	<div class="title">Hovercop</div>-->
		<!--</div>-->
	<!-- <div id="card1"></div> -->
	
	<% eventList.forEach(function(event){ %>
	<div id="card">
		<form onsubmit="return submitResult();" action="/dlt/<%= event._id %>" method="POST" >
			<button id="delete" class="fa fa-close" style="color:white"></button>
		</form>
		<script type="text/javascript">
			function submitResult() {
			   if ( confirm("Are you sure you want to unregister ?") == false ) {
			      return false ;
			   } else {
			      return true ;
			   }
			}
		</script>
		<img style="position:static;z-index:-999;filter:brightness(80%); "height="100%"; width="100%" src="<%= event.img%>">
		<div class="title"><%= event.name %> </div>
		
	</div>
	<% }) %>

</div>
<div class="payment" id="payment">
	<table>
		<tr>
			<th>Event</th>
			<th>Amount</th>
			<th>Status</th>
			<!--<th>Pay</th>-->
		</tr>
		<% eventList.forEach(function(event){ %>
		<% if(event.amount != undefined && event.amount!=0){ %>
			<% var x=0; %>
			<%#= console.log("#", event.amount)%>
		        <form id="form1" method="POST" action="/testtxn" >
	    	        <tr>
	    	            <td><%= event.name%></td>
	    	            <input type="hidden" name="ORDERID" value="<%= event._id%>" >
	    	            
	    	            <%# } else {%>
	    	            	<td><input name="TXN_AMOUNT" value="<%= event.amount%>" readonly ></td>
	    	            <%# }%>
	    	            <% for(var i=0; i<user.paytmpayment.length; i++){ %>
	    	            	<% if(user.paytmpayment[i].EVENTNM == event.name){ %>
	    	            		
	    	            		<% if(user.paytmpayment[i].STATUS == "TXN_SUCCESS"){ %>
	    	            			<% x++; %>
		    	            		<%# console.log("#", user.paytmpayment[i].EVENTNM) %>
		    	            		<% if(x==1){ %> 
		    	            			<td><button style="background-color: rgb(68, 157, 68);" type="button" >PAID</button></td>
		    	            		<% }%>
	    	            		<% }%>
	    	            	<% }%>
	    	            <% } %>
		            	<% if(x==0){ %>
	            			<td><button style="cursor: pointer;" >PAY NOW</button></td>
		            	<% }%>
	    	            <!--<td><button>Pay Now</button></td>-->
	    	        </tr>
		        </form>
	        <% }%>
		<% }) %>
	</table>
</div>
	<div class="footer">
		<a href="/logout" class="Logout">Logout</a>
		<a href="/events" class="Events">Add Events</a>
		<a href="#"id="status" onclick="payment()" class="Status">Payment </a>
		<a href="#" id="events" onclick="list()" class="Status"style="display:none">Your events</a>
	</div>
	<script type="text/javascript" src="/javascripts/dashboard.js"></script>
	 <script src="javascripts/back.js"></script>
	  <script src="/javascripts/menu.js"></script>

</body>
</html>