<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" media="screen and (min-width: 720px)"  type="text/css" href="/stylesheets/dashboard.css">
	<link rel="stylesheet" media="screen and (max-width: 720px)" type="text/css" href="/stylesheets/dashboardresponsive.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <script src="https://rawgit.com/akm2/simplex-noise.js/master/simplex-noise.js"></script>
	     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	     <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	      <link rel="stylesheet" href="/stylesheets/navbar.css"> 
	<script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js"></script>
	<script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js"></script>
	<script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131746284-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131746284-1');
</script>
</head>
<body>
	<!--<div id="large-header" class="large-header">-->
	    <% include navbar %>
  <a href="/"><img class="logoheading" src="/images/advaita.png"></a>
  <canvas id='c'></canvas>
<!--</div>-->
	<div class="profile">
		<% if(user.gender=="Male"||user.gender=="male"||user.gender=="M"||user.gender=="m"){ %>
			<img src="/images/girl.jpeg">
		<% } else if(user.gender=="Female"||user.gender=="female"||user.gender=="F"||user.gender=="f") { %>
			<img src="/images/girl.jpeg"> 
		<% } else { %>
			<img src="https://thumbs.dreamstime.com/t/default-male-avatar-profile-picture-icon-grey-man-photo-placeholder-vector-illustration-88414414.jpg">
		<% }%>
		<div class="details">
			<b><%= user.name %></b>
			<!--<b>Name: Sandeep Chutiya</b>-->
		</br></br>
			<b id="cllgname" ><%= user.college %></b>
		</br></br>
			<b>+91-<%= user.phone %></b>
		</br></br>
<!--			<div class="progressdiv"  data-percent="86">-->
<!--  <svg class="progress" width="178" height="178" viewport="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">-->
<!--  <circle r="80" cx="89" cy="89" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0" ></circle>-->
<!--  <circle class="bar" r="80" cx="89" cy="89" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle>-->
<!--</svg></div>-->
<!--		</br>-->
<!--		<b class="progressbar">Events registerd By you</b>-->
		</div>

	</div>
<div class="List">
		<!--<div id="card">-->
		<!--	<img height="100%"; width="100%" src="hovercop.jpg">-->
		<!--	<div class="back123"></div>-->
		<!--	<div class="descriptiion123"></div>-->
		<!--	<div class="title">Hovercop</div>-->
		<!--</div>-->
	<!-- <div id="card1"></div> -->
	
	<% eventList.forEach(function(event){ %>
	<div id="card">
		<img style="position:static;z-index:-999;filter:brightness(80%); "height="100%"; width="100%" src="<%= event.img%>">
		<div class="title"><%= event.name %></div>
	</div>
	<% }) %>

</div>
	<div class="footer">
		<a href="/logout" class="Logout">Logout</a>
		<a href="/events" class="Events">Add Events</a>
		<a href="#" onclick="soon()" class="Status">Payment  Status </a>
	</div>
	<script>
		function soon(){
			alert("Payment Gateway Soon.")	
		}
	</script>
	<script type="text/javascript" src="/javascripts/dashboard.js"></script>
	 <script src="javascripts/back.js"></script>
	  <script src="/javascripts/menu.js"></script>
</body>
</html>