<html>
<head>
<title>DATABASE</title>
</head>
<body>
    <center><h1>Registered Users</h1></center>
    <table border="1">
        <tbody>
            <tr>
                <th>S No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Call</th>
                <th>Gender</th>
                <th>College</th>
                <th>City</th>
                <th>Events Name</th>
                <th>Payment Status</th>
            </tr>
            <% compData.forEach(function(data, i){%>
                <tr>
                    <td><%= i+1%></td>
                    <td><%= data.name%></td>
                    <td><%= data.username%></td>
                    <td><%= data.phone%></td>
                    <td><%= data.gender%></td>
                    <td><%= data.college%></td>
                    <td><%= data.city%></td>
                    <td>
                        <% data.events.forEach(function(event){%>
                            <%= event.name%>,<br>
                        <% });%>
                    </td>
                    <td>
                        <% data.paytmpayment.forEach(function(status){%>
                            <%= status.EVENTNM%>, <%= status.STATUS%>, <%= status.TXNAMOUNT%><br>
                        <% });%>
                    </td>
                </tr>
            <% });%>
        </tbody>
    </table>
</body>
</html>